<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="scale">
        <div class="header">
            <div class="header-item">
                <a href="../index.php" class="main-link">Главная</a>
                <a href="../index.php" class="main-link">Профиль</a>
            </div>
            <img src="../templates/img/logo.jpeg" alt="Logo">
            <div class="header-item">
                <a href="?registration=processing" class="main-link">Регистрация</a>
                <a href="?authorization=processing" class="main-link">Вход</a>
            </div>
        </div>
        <div class="main-wrapper">
            <div class="error-container">
                <h2>Такого пользователь уже существует</h2>
                <form><input type="submit" class="back" value="Вернуться"></form>
            </div>
        </div>
        <div style="margin: -25px 50px;">
            <p>Выполнил | Ларионов Алексей 472гр.</p>
        </div>
    </div>
</body>

</html>